<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Getting Started Extension's Popup</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/popup.css">

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
    <!-- jquery used for sortable "drag and drop table" -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/vue.min.js"></script>
  </head>

  <body>
    <input type="hidden" />
    <!-- <h1>Initiative Tracker</h1> -->
    <div id="initiative-app">
      <table class="table table-condensed">
      	<thead>
      		<tr class="clickable">
      			<th></th>
      			<th>Name</th>
      			<th>HP</th>
      			<th>AC</th>
            <th></th>
      		</tr>
      	</thead>
        <tbody>
          <tr id="{{ player.name }}" v-for="(index, player) in players | orderBy 'order'" class="clickable">
            <td class="v-middle">:::</td>
            <td class="v-middle">{{ player.name }}</td>
            <td>
              <div class="input-group" style="max-width: 150px;">
                <span class="input-group-btn">
                    <button type="button" v-on:click="changeHp(player, -5)" class="btn btn-danger btn-xs no-outline">-5</button>
                    <button type="button" v-on:click="changeHp(player, -1)" class="btn btn-danger btn-xs no-outline">-1</button>
                </span>
                <input type="number" v-model="player.hitPoints" class="form-control form-control-less-padding" placeholder="hp" step="1" />
                <span class="input-group-btn">
                    <button type="button" v-on:click="changeHp(player, 1)" class="btn btn-success btn-xs no-outline">+1</button>
                    <button type="button" v-on:click="changeHp(player, 5)" class="btn btn-success btn-xs no-outline">+5</button>
                </span>
              </div>
            </td>
            <td><input type="number" v-model="player.armorClass" class="form-control" placeholder="hp" step="1" style="max-width: 60px;" /></td>
            <td>
              <button class="btn btn-danger btn-xs" v-on:click="removeRow(player)" v-if="!player.persisted" title="Remove">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-default btn-xs" v-on:click="lockPlayer(player)" v-if="!player.persisted" title="Lock">
                <span class="glyphicon glyphicon-lock"></span>
              </button>
              <button class="btn btn-default btn-xs" v-on:click="unlockPlayer(player)" v-if="player.persisted" title="Unlock">
                <span class="glyphicon glyphicon-lock"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <input id="new-character-name" type="text" autofocus v-model="newEntryName" class="form-control" placeholder="New Entry Name..." />
      <button class="btn btn-success btn-sm" v-on:click="addRow">Add Row</button>
    </div>

    <!-- Load my code after other libraries -->
    <script src="js/popup.js"></script>
  </body>
</html>
