<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Getting Started Extension's Popup</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/popup.css">

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
    <!-- jquery used for sortable "drag and drop table" -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/vue.min.js"></script>
  </head>

  <body>
    <!-- <h1>Initiative Tracker</h1> -->
    <div id="initiative-app">
      <table class="table table-condensed">
      	<thead>
      		<tr class="clickable">
      			<th></th>
      			<th>Name</th>
      			<th>HP</th>
      			<th>AC</th>
            <th></th>
      		</tr>
      	</thead>
        <tbody>
          <tr v-for="(index, player) in players" class="clickable">
            <td>:::</td>
            <td>{{ player.name }}</td>
            <td>{{ player.hitPoints }}</td>
            <td>{{ player.armorClass }}</td>
            <td>
              <button class="btn btn-danger btn-xs" v-on:click="removeRow(index)" title="Remove">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <input type="text" v-model="newEntryName" class="form-control" placeholder="New Entry Name..." />
      <button class="btn btn-success btn-sm" v-on:click="addRow">Add Row</button>
    </div>

    <!-- Load my code after other libraries -->
    <script src="js/popup.js"></script>
  </body>
</html>
