body {
  padding: 0 10px 10px 10px;
  white-space: nowrap;
  width: 500px;
}

.clickable {
  cursor: pointer;
}

.form-control-inline {
  display: inline-block;
}

.form-control-less-padding {
  padding: 3px 6px;
  text-align: center;
}

.no-outline {
  outline: none !important;
}

.v-middle {
  vertical-align: middle !important;
}

thead th {
  text-align: center;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.width-25 {
  width: calc((100% - 20px) / 4);
}
