body {
  padding: 0 10px 10px 10px;
  white-space: nowrap;
  width: 400px;
}

h1 {
  font-size: 15px;
  /*text-align: center;*/
}

.clickable {
  cursor: pointer;
}

#new-character-name {
  display: inline-block;
  width: 70%;
}

.form-control-less-padding {
  padding: 3px 6px;
  text-align: center;
}

.no-outline {
  outline: none !important;
}

.v-middle {
  vertical-align: middle !important;
}

thead th {
  text-align: center;
}
