<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Getting Started Extension's Popup</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/popup.css">

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
    <!-- jquery used for sortable "drag and drop table" -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
  </head>

  <body>
    <div id="initiative-app">
      <table class="table table-condensed">
      	<thead>
      		<tr class="clickable">
      			<th></th>
      			<th v-on:click="sortBy('name')">Name</th>
      			<th v-on:click="sortBy('initiative')">Initiative</th>
      			<th v-on:click="sortBy('hitPoints')">HP</th>
      			<th v-on:click="sortBy('armorClass')">AC</th>
            <th></th>
      		</tr>
      	</thead>
        <tbody>
          <tr id="{{ player.name }}" v-for="(index, player) in players | orderBy 'order'" class="clickable">
            <td class="v-middle center">:::</td>
            <td class="v-middle center">{{ player.name }}</td>
            <td><input type="number" v-model="player.initiative" class="form-control form-control-less-padding input-sm" placeholder="initiative" step="1" style="max-width: 30px; margin: 3px auto auto auto;" /></td>
            <td>
              <div class="input-group" style="max-width: 135px; margin: auto;">
                <span class="input-group-btn">
                    <button type="button" v-on:click="changeHp(player, -5)" class="btn btn-danger btn-xs no-outline">-5</button>
                    <button type="button" v-on:click="changeHp(player, -1)" class="btn btn-danger btn-xs no-outline">-1</button>
                </span>
                <input type="number" v-model="player.hitPoints" v-bind:class="{ 'warning-health': (player.hitPoints <= 10) }" class="form-control form-control-less-padding" placeholder="HP" step="1" />
                <span class="input-group-btn">
                    <button type="button" v-on:click="changeHp(player, 1)" class="btn btn-success btn-xs no-outline">+1</button>
                    <button type="button" v-on:click="changeHp(player, 5)" class="btn btn-success btn-xs no-outline">+5</button>
                </span>
              </div>
            </td>
            <td><input type="number" v-model="player.armorClass" class="form-control form-control-less-padding input-sm" placeholder="AC" step="1" style="max-width: 30px; margin: 3px auto auto auto;" /></td>
            <td class="v-middle">
              <button class="btn btn-danger btn-xs" v-on:click="removeRow(player)" v-if="!player.persisted" title="Remove">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-default btn-xs" v-on:click="lockPlayer(player)" v-if="!player.persisted" title="Lock">
                <span class="glyphicon glyphicon-lock"></span>
              </button>
              <button class="btn btn-default btn-xs" v-on:click="unlockPlayer(player)" v-if="player.persisted" title="Unlock">
                <span class="glyphicon glyphicon-lock"></span>
              </button>
              <button class="btn btn-default btn-xs" v-on:click="dupePlayer(player)" v-if="!player.persisted" title="Dupe">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <input type="text" tabindex="1" autofocus v-model="newEntryName" class="form-control form-control-inline width-20" placeholder="Name" />
        <input type="number" tabindex="2" v-model="newEntryInitiative" class="form-control form-control-inline width-20" placeholder="Initiative..." />
        <input type="number" tabindex="3" v-model="newEntryHitPoints" class="form-control form-control-inline width-20" placeholder="HP" />
        <input type="number" tabindex="4" v-model="newEntryArmorClass" class="form-control form-control-inline width-20" placeholder="AC" />
        <button tabindex="5" class="btn btn-success width-20" v-on:click="addRow">Add Row</button>
      </div>
    </div>

    <!-- Load my code after other libraries -->
    <script src="js/popup.js"></script>
  </body>
</html>
